{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div id="dashboard">
    <h2 class="page-header">Live Data</h2>

    <div class="card" id="power-card">
        <div class="card-body">
            <h5 class="card-title">Power: <span class="card-text" id="power">--</span></h5>
        </div>
    </div>
    <div class="card" id="temp-card">
        <div class="card-body">
            <h5 class="card-title">Temperature: <span class="card-text" id="temp">--</span></h5>
        </div>
    </div>
    <div class="card" id="light-card">
        <div class="card-body">
            <h5 class="card-title">Light: <span class="card-text" id="light">--</span></h5>
        </div>
    </div>
    <div class="card" id="eff-card">
        <div class="card-body">
            <h5 class="card-title">Efficiency: <span class="card-text" id="eff">--</span></h5>
        </div>
    </div>
    <div class="card" id="health-card">
        <div class="card-body">
            <h5 class="card-title">Health: <span class="card-text" id="health">--</span></h5>
        </div>
    </div>
</div>

{% endblock %}